{% extends "home/_temp/blank_dashboard_temp.twig" %}

{% block Content %}
    <div class="container">
        <section class="row">
            <div class="col-12 px-5 pt-4">
                <div class="message-box success-box" id="success-message-box" style="display: none;">
                    <h4>موفقیت!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="message-box error-box" id="error-message-box" style="display: none;">
                    <h4>خطا!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="row"  style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
                    <div class="col-12 p-2">
                        <div class="form-goup">
                            {% if Coupons %}
                                <table class="table table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox" id="select-all-checkbox"></th>
                                        <th scope="col">#</th>
                                        <th scope="col">نام تخفیف</th>
                                        <th scope="col">کد تخفیف</th>
                                        <th scope="col"> تعداد</th>
                                        <th scope="col">عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-show-data">
                                    {% for Coupon in Coupons %}
                                        <tr>
                                            <th scope="row"><input type="checkbox" class="select-row-checkbox" data-coupon-id="{{ Coupon['coupon_id'] }}"></th>
                                            <th>{{ Coupon['coupon_id'] }}</th>
                                            <td>{{ Coupon['name'] }}</td>
                                            <td>{{ Coupon['code'] }}</td>
                                            <td>{{ Coupon['count'] }}</td>
                                            <td>
                                                <a href="{{ ADMIN_URL }}coupon/edit/{{ Coupon['coupon_id'] }}?token={{ Token }}" ><i class="btn btn-warning fa fa-pencil-alt"></i></a>
                                                {% if Coupon['status'] == '1' %}
                                                    <button class="coupon-status-btn btn btn-success fa fa-toggle-on" data-coupon-id="{{ Coupon['coupon_id'] }}" data-coupon-status="{{ Coupon['status'] }}" ></button>
                                                {% else %}
                                                    <button class="coupon-status-btn btn btn-danger fa fa-toggle-off" data-coupon-id="{{ Coupon['coupon_id'] }}" data-coupon-status="{{ Coupon['status'] }}" ></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        <div class="form-group text-right pt-3 px-3">
                            <a href="{{ ADMIN_URL }}home/index?token={{ Token }}" class="fa fa-arrow-right btn btn-warning"></a>
                            <button id="delete-rows-btn" class="btn btn-danger fa fa-trash" ></button>
                            <a href="{{ ADMIN_URL }}coupon/add?token={{ Token }}" id="coupon-submit-btn" class="fa fa-plus btn btn-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block Js %}
    {% autoescape %}
        <script type="text/javascript">
            let url = "{{ CURRENT_URL }}?token={{ Token }}";
            let urlDelete = "{{ ADMIN_URL }}coupon/delete?token={{ Token }}";
            let urlChangeStatus = "{{ ADMIN_URL }}coupon/status?token={{ Token }}";
            let Languages = [
                {% for Language in Languages %}
                "{{ Language['language_id'] }}",
                {% endfor %}
            ];
            let LanguageDefaultID = {{ LanguageDefaultID }};
            let successMessageBoxElement = $("#success-message-box");
            let errorMessageBoxElement = $("#error-message-box");
            let selectAllCheckboxElement = $("#select-all-checkbox");
            function init() {
                selectAllCheckboxElement.change(function (e) {
                    let status = false;
                    if($(this).prop('checked')) {
                        status = true;
                    }else {
                        status = false;
                    }
                    $('.select-row-checkbox').each(function (index, element) {
                        $(element).prop("checked", status);
                    });
                });
                $('#delete-rows-btn').click(function (e) {
                    successMessageBoxElement.find('.messages').html('');
                    successMessageBoxElement.find('.messages').html('');
                    successMessageBoxElement.css('display', 'none');
                    errorMessageBoxElement.css('display', 'none');
                    let data = {};
                    data['coupons_id'] = [];
                    if(confirm("{{ Translate['are_you_sure_?'] }}")) {
                        $('.select-row-checkbox:checked').each(function (index, element) {
                            data['coupons_id'].push($(element).attr("data-coupon-id"));
                        });
                        if(data['coupons_id'].length > 0) {
                            data['post'] = true;
                            $.post(urlDelete, data, function (response) {
                                response = JSON.parse(response);
                                if(response.status === 1) {
                                    for (let i = 0; i < response['messages'].length; i++) {
                                        $('<p>').text(response['messages'][i]).appendTo(successMessageBoxElement.find('.messages'));
                                    }
                                    if(response['messages'].length > 0) {
                                        successMessageBoxElement.fadeIn(300).delay(2700).fadeOut(300);
                                        setTimeout(function () {
                                            successMessageBoxElement.find('.messages').html('');
                                        }, 3000)
                                    }
                                    if(response['data']) {
                                        $('#table-show-data').html(response['data']);
                                        init();
                                    }
                                    if(response['redirect']) {
                                        window.setTimeout(function () {
                                            window.location.href = response['redirect'];
                                        }, 1000)
                                    }
                                }else {
                                    for (let i = 0; i < response['messages'].length; i++) {
                                        $('<p>').text(response['messages'][i]).appendTo(errorMessageBoxElement.find('.messages'));
                                    }
                                    if(response['messages'].length > 0) {
                                        errorMessageBoxElement.fadeIn(300).delay(2700).fadeOut(300);
                                        setTimeout(function () {
                                            errorMessageBoxElement.find('.messages').html('');
                                        }, 3000)
                                    }
                                }
                            });

                        }
                    }
                });
                $(".coupon-status-btn").click(function (e) {
                    let coupon_id = +$(this).attr("data-coupon-id");
                    let coupon_status = +$(this).attr("data-coupon-status");
                    if(coupon_status == 1) {
                        $(this).removeClass('btn-success');
                        $(this).addClass('btn-danger');
                        $(this).removeClass('fa-toggle-on');
                        $(this).addClass('fa-toggle-off');
                        $(this).attr("data-coupon-status", 0);
                        coupon_status = 0;
                    }else {
                        $(this).removeClass('btn-danger');
                        $(this).addClass('btn-success');
                        $(this).addClass('fa-toggle-on');
                        $(this).removeClass('fa-toggle-off');
                        $(this).attr("data-coupon-status", 1);
                        coupon_status = 1;
                    }
                    $.post(urlChangeStatus, {"coupon_id" : coupon_id, "coupon_status" : coupon_status, "post" : true}, function (response) {
                        response = JSON.parse(response);
                        successMessageBoxElement.find('.messages').html('');
                        successMessageBoxElement.find('.messages').html('');
                        successMessageBoxElement.css('display', 'none');
                        errorMessageBoxElement.css('display', 'none');
                        if(response.status === 1) {
                            for (let i = 0; i < response['messages'].length; i++) {
                                $('<p>').text(response['messages'][i]).appendTo(successMessageBoxElement.find('.messages'));
                            }
                            if(response['messages'].length > 0) {
                                successMessageBoxElement.fadeIn(300).delay(2700).fadeOut(300);
                                setTimeout(function () {
                                    successMessageBoxElement.find('.messages').html('');
                                }, 3700)
                            }

                            if(response['redirect']) {
                                window.setTimeout(function () {
                                    window.location.href = response['redirect'];
                                }, 1000)
                            }
                        }else {
                            for (let i = 0; i < response['messages'].length; i++) {
                                $('<p>').text(response['messages'][i]).appendTo(errorMessageBoxElement.find('.messages'));
                            }
                            if(response['messages'].length > 0) {
                                errorMessageBoxElement.fadeIn(300).delay(2700).fadeOut(300);
                                setTimeout(function () {
                                    errorMessageBoxElement.find('.messages').html('');
                                }, 3700)
                            }
                        }
                    });
                });
            }
            $(document).ready(function () {
                init();
            });


        </script>
    {% endautoescape %}
{% endblock %}