<nav id="sidebar" >
    <div class="navbar">
        <div class="navbar-nav flex-column sidebar-navigation-box align-items-start">
            <a href="#" class="nav-item nav-link active d-block">
                <span class="fa fa-tachometer-alt" style="margin-left: 5px"></span>
                میزکار
            </a>
            <a href="#" class="nav-item nav-link d-block dropdown-toggle" data-toggle="collapse" data-target="#productCollapse" role="button" aria-expanded="false" >
                <span class="fa fa-file" style="margin-left: 5px"></span>
                محصولات
            </a>
            <div class="collapse" id="productCollapse">
                <nav class="nav flex-column align-items-start pr-4">
                    <a href="{{ ADMIN_URL }}product/manufacturer/index?token={{ Token }}" class="nav-link">تولیدکننده</a>
                    <a href="{{ ADMIN_URL }}product/attribute/index?token={{ Token }}" class="nav-link">خصوصیت محصول</a>
                    <a href="{{ ADMIN_URL }}product/attributegroup/index?token={{ Token }}" class="nav-link">گروه خصوصیت محصول</a>
                </nav>
            </div>
            <a href="#" class="nav-item nav-link d-block">
                <span class="fa fa-file-alt" style="margin-left: 5px"></span>
                بلاگ
            </a>
            <a href="#" class="nav-item nav-link d-block">
                <span class="fa fa-chart-pie" style="margin-left: 5px"></span>
                گزارشات
            </a>
            <a href="#" class="nav-item nav-link d-block">
                <span class="fa fa-credit-card" style="margin-left: 5px"></span>
                کیف پول
            </a>
            <a href="#" class="nav-item nav-link d-block dropdown-toggle" data-toggle="collapse" data-target="#userCollapse" role="button" aria-expanded="false" >
                <span class="fa fa-users" style="margin-left: 5px"></span>
                کاربران
            </a>
            <div class="collapse" id="userCollapse">
                <nav class="nav flex-column align-items-start pr-4">
                    <a href="#" class="nav-link">مشاهده</a>
                    <a href="#" class="nav-link">ویرایش</a>
                    <a href="#" class="nav-link">حذف</a>
                </nav>
            </div>
            <a href="#" class="nav-item nav-link d-block">
                <span class="fa fa-shopping-cart" style="margin-left: 5px"></span>
                محصولات
            </a>
        </div>
    </div>
</nav>