<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard | {{ PageTittle }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ URL }}assets/admin/img/favicon.ico">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/owl.theme.css">
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/calendar/fullcalendar.print.min.css">
    {% block Css %}

    {% endblock %}
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ URL }}assets/admin/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ URL }}assets/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Left menu area -->
{% include "home/_inc/left_menu_sidebar.twig" %}
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="{{ URL }}assets/admin/img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    {# Top Main Header #}
    {% include "home/_inc/top_main_header.twig" %}
    {# .End Top Main Header #}

    {% block Content %}

    {% endblock %}

    {# Bottom Main Footer #}
    {% include "home/_inc/bottom_main_footer.twig" %}
    {# .End Bottom Main Footer #}
</div>

<!-- jquery
    ============================================ -->
<script src="{{ URL }}assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/jquery.scrollUp.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/counterup/jquery.counterup.min.js"></script>
<script src="{{ URL }}assets/admin/js/counterup/waypoints.min.js"></script>
<script src="{{ URL }}assets/admin/js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ URL }}assets/admin/js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/metisMenu/metisMenu.min.js"></script>
<script src="{{ URL }}assets/admin/js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/morrisjs/raphael-min.js"></script>
<script src="{{ URL }}assets/admin/js/morrisjs/morris.js"></script>
<script src="{{ URL }}assets/admin/js/morrisjs/morris-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/sparkline/jquery.sparkline.min.js"></script>
<script src="{{ URL }}assets/admin/js/sparkline/jquery.charts-sparkline.js"></script>
<script src="{{ URL }}assets/admin/js/sparkline/sparkline-active.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/calendar/moment.min.js"></script>
<script src="{{ URL }}assets/admin/js/calendar/fullcalendar.min.js"></script>
<script src="{{ URL }}assets/admin/js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/main.js"></script>
{% block Js %}

{% endblock %}
<!-- tawk chat JS
    ============================================ -->
<script src="{{ URL }}assets/admin/js/tawk-chat.js"></script>
</body>

</html>