{% extends "home/_temp/blank_dashboard_temp.twig" %}


{% block Content %}
    <div class="container">
        <section class="row">
            <div class="col-12 px-5 pt-4">
                <div class="message-box success-box" id="success-message-box" style="display: none;">
                    <h4>موفقیت!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="message-box error-box" id="error-message-box" style="display: none;">
                    <h4>خطا!</h4>
                    <hr>
                    <div class="messages">

                    </div>
                </div>
                <div class="row"  style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
                    <div class="col-12 p-2">
                        <dib class="form-group">
                            <ul class="nav nav-tabs" id="mainTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">عمومی</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">اطلاعات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="true">ارتباط</a>
                                </li>
                            </ul>

                            <div class="tab-content text-right" id="mainTabContent">
                                    {#
                                        General Tab
                                    #}
                                    <div class="tab-pane fade active show p-5" id="general" role="tabpanel" aria-labelledby="general-tab">
                                        <dib class="form-group">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                {% for Language in Languages %}
                                                    {% if Language['language_id'] == LanguageDefaultID %}

                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="true">{{ Language['name'] }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#language-{{ Language['language_id'] }}" role="tab" aria-controls="language-{{ Language['language_id'] }}" aria-selected="false">{{ Language['name'] }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content text-right" id="myTabContent">
                                                {% for Language in Languages %}
                                                    {% if Language['language_id'] == LanguageDefaultID %}
                                                        {% set ClassName = "show active" %}
                                                    {% else %}
                                                        {% set ClassName = "" %}
                                                    {% endif %}
                                                    <div class="tab-pane fade {{ ClassName }} " id="language-{{ Language['language_id'] }}" role="tabpanel" aria-labelledby="language-{{ Language['language_id'] }}-tab">
                                                        <div class="form-group d-flex align-middle mt-3">
                                                            <label class="col-sm-2 control-label text-center">نام</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" placeholder="{{ Language['name'] }}" class="form-control" id="product-name-{{ Language['language_id'] }}">
                                                            </div>
                                                        </div>

                                                        <div class="form-group d-flex align-middle mt-3">
                                                            <label class="col-sm-2 control-label text-center">توضیحات</label>
                                                            <div class="col-sm-10">
                                                                <textarea id="ckeditor-{{ Language['language_id'] }}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </dib>

                                    </div>
                                    {#
                                        Info Tab
                                    #}
                                    <div class="tab-pane fade " id="info" role="tabpanel" aria-labelledby="info-tab">
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">قیمت</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-price" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">تاریخ</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-date" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">تعداد</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-quantity" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">حداقل تعداد انتخاب</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-min-quantity-per-amount" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">شرایط محصول</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="product-stock-status">
                                                    {% for StockStatus in StocksStatus %}
                                                        <option value="{{ StockStatus['stock_status_id'] }}">{{ StockStatus['name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">وزن</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-weight-value" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">واحد وزن</label>
                                            <div class="col-sm-10">
                                                <select id="product-weight-unit" class="form-control">
                                                    {% for Weight in Weights %}
                                                        <option value="{{ Weight['weight_id'] }}">{{ Weight['name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">ابعاد</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="text" id="product-length" class="form-control" placeholder="طول">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" id="product-width" class="form-control" placeholder="عرض">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" id="product-height" class="form-control" placeholder="ارتفاع">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">واحد طول</label>
                                            <div class="col-sm-10">
                                                <select id="product-length-unit" class="form-control">
                                                    {% for Length in Lengths %}
                                                        <option value="{{ Length['length_id'] }}">{{ Length['name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">ترتیب</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="product-sort-order">
                                            </div>
                                        </div>

                                    </div>
                                    {#
                                        Link Tab
                                    #}
                                    <div class="tab-pane fade " id="link" role="tabpanel" aria-labelledby="link-tab">
                                        <div class="form-group d-flex align-middle mt-3">
                                            <label class="col-sm-2 control-label text-center">تولیدکننده</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="product-manufacturer" data-manufacturer-id="0" class="form-control">
                                                <div class="auto-recommend-box" id="product-manufacturer-auto-recommend-box" style="display: none;">
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                            </div>
                        </dib>

                        <div class="form-group text-right pt-3 px-3">
                            <a href="{{ ADMIN_URL }}product/manufacturer/index?token={{ Token }}" class="fa fa-arrow-right btn btn-warning"></a>
                            <a href="#" id="manufacturer-submit-btn" class="fa fa-plus btn btn-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{{ URL }}assets/persian_date/persian-datepicker.min.css">
{% endblock %}
{% block JsBeforeMain %}
    <script type="text/javascript" src="{{ URL }}assets/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/persian_date/persian-date.min.js"></script>
    <script type="text/javascript" src="{{ URL }}assets/persian_date/persian-datepicker.min.js"></script>
{% endblock %}
{% block Js %}
    {% autoescape %}
        <script type="text/javascript">
            let url = "{{ CURRENT_URL }}?token={{ Token }}";
            let searchManufacturerUrl = "{{ ADMIN_URL }}product/manufacturer/getmanufacturers?token={{ Token }}";
            let Languages = [
                {% for Langauge in Languages %}
                "{{ Langauge['language_id'] }}",
                {% endfor %}
            ];
            let LanguageDefaultID = {{ LanguageDefaultID }};
            CKFinder.setupCKEditor();
            $(document).ready(function () {
                let editor = {};
                Languages.forEach(function (value, index, array) {
                    editor[value] = CKEDITOR.replace("ckeditor-" + value, {
                        filebrowserBrowseUrl: 'http://myshopdemo.test/admin/ckfinder/choose?token={{ Token }}',

                    });

                });
                $("#product-date").persianDatepicker({
                    format: 'YYYY/MM/DD',
                });

                let productManufacturerSearchInputElement = $("#product-manufacturer");
                let manufacturerAutoRecommendBox = $("#product-manufacturer-auto-recommend-box");
                let timeOut;
                productManufacturerSearchInputElement.on("keyup", function (e) {

                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        if(productManufacturerSearchInputElement.val().length >= 2) {
                            let data = {};
                            data['s'] = productManufacturerSearchInputElement.val();
                            data['post'] = true;
                            $.post(searchManufacturerUrl, data, function (response) {
                                response = JSON.parse(response);
                                manufacturerAutoRecommendBox.css('display', 'none');
                                manufacturerAutoRecommendBox.html('');
                                if(response.status === 1) {
                                    for(let i = 0;  i < response['manufacturers'].length; i++) {
                                        $('<div>').attr('data-manufacturer-id', response['manufacturers'][i]['manufacturer_id']).text(response['manufacturers'][i]['name'])
                                            .click(function (e) {
                                                manufacturerAutoRecommendBox.css('display', 'none');
                                                manufacturerAutoRecommendBox.html('');
                                                productManufacturerSearchInputElement.val($(this).text());
                                                productManufacturerSearchInputElement.attr('data-manufacturer-id', $(this).attr('data-manufacturer-id'));
                                            }).appendTo(manufacturerAutoRecommendBox);
                                    }
                                    if(response['manufacturers'].length > 0) {
                                        manufacturerAutoRecommendBox.css('display', 'block');
                                    }
                                }

                            });
                        }else {
                            manufacturerAutoRecommendBox.css('display', 'none');
                            manufacturerAutoRecommendBox.html('');
                        }
                    }, 800);
                });




            });
        </script>
    {% endautoescape %}
{% endblock %}

