{% for Product in Products %}
    <tr>
        <th scope="row"><input type="checkbox" class="select-row-checkbox" data-product-id="{{ Product['product_id'] }}"></th>
        <th>{{ Product['product_id'] }}</th>
        <th><img src="{{ Product['image'] }}" style="max-width: 100px;max-height: 100px"></th>
        <td>{{ Product['name'] }}</td>
        <td>{{ Product['price'] }}</td>
        <td>{{ Product['sort_order'] }}</td>
        <td>
            <a href="{{ ADMIN_URL }}product/product/edit/{{ Product['product_id'] }}?token={{ Token }}" ><i class="btn btn-warning fa fa-pencil-alt"></i></a>
        </td>
    </tr>
{% endfor %}
