{% extends "product/_temp/blank_product_temp.twig" %}
{% block Content %}
    <div class="bigWrap">
        <div class="compare">
            <div class="product-compare-row-image">
                {% for Product in Products %}
                    {% if Product %}
                        <div class="compare-row-item">
                            <div class="product-compare-item-image">
                                <img src="{{ Product['image'] }}" alt="">
                            </div>
                            <h3>{{ Product['name'] }}</h3>
                            <div class="product--price">
                                {% if Product['special'] %}
                                    <span class="old">{{ Product['price'] }}</span>
                                    <span class="new">{{ Product['special'] }}</span>
                                    <span class="unit">تومان</span>
                                {% else %}
                                    <span>{{ Product['price'] }}</span>
                                    <span class="unit">تومان</span>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% for AttributeGroup in AttributeGroups %}
            <div class="group-row">
                <h4>{{ AttributeGroup['name'] }}</h4>
                <table>
                    {% for attribute_id, Attribute in AttributeGroup['attributes'] %}
                    <tr>
                        <td colspan="4">{{ Attribute['name'] }}</td>
                    </tr>
                    <tr>
                        {% for Product in Products %}
                            <td>{{ Product['attributes'][attribute_id]['value'] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}