<nav id="nav-top">

    <div class="bigWrap">
        <!-- Contact Info-->
        <div id="contact">
                    <span>
                        <i class="fa fa-envelope"></i>
                        admin@admin.com
                    </span>
            <span style="direction: ltr">
                        <i class="fa fa-phone"></i>
                        +989131111111
                    </span>
        </div>
        <div id="account">
            <span>
                {% if Customer %}
                    <a href="{{ URL }}user/index">{{ Customer.getFirstName }} {{ Customer.getLastName }}</a>
                {% else %}
                    <a href="{{ URL }}login/index">ورود</a>
                    |
                    <a href="{{ URL }}register/index">ثبت نام</a>
                {% endif %}
            </span>
            |
            <a href="#" id="language">
                فارسی
                <i class="fa fa-caret-down"></i>
            </a>
        </div>
    </div>
</nav>
<header class="clearfix">
    <div class="bigWrap">
        <div id="category">
            <a href="#">
                <i class="fa fa-bars"></i>
                موضوعات
            </a>
            <div id="category-box">
                <ul id="main-category">

                    {% for TopCategory in TopCategories %}
                        <li>
                            <a href="#">
                                {{ TopCategory['name'] }}
                                <i class="fa fa-angle-left"></i>
                            </a>
                            {% if TopCategory['subCategories'] %}
                                <div class="sub-category-box">
                                    {% set countItemInColumn = 13 %}
                                    {% for SubCategory in TopCategory['subCategories'] %}
                                        {% if countItemInColumn == 13 %}
                                        <div class="column">
                                        <ul>
                                        {% endif %}
                                        {% if SubCategory['level'] == 1 %}
                                            <li class="title"><a href="#">{{ SubCategory['name'] }}</a></li>
                                        {% else %}
                                            <li><a href="#">{{ SubCategory['name'] }}</a></li>
                                        {% endif %}
                                        {% set countItemInColumn = countItemInColumn - 1 %}
                                        {% if countItemInColumn == 0 %}
                                            </ul>
                                            </div>
                                            {% set countItemInColumn = 13 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
                <div id="category-ads">
                    <img src="{{ URL }}assets/img/ads/ads.png" alt="Category Ads">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="logo">
            <img src="{{ URL }}assets/img/logo.png" alt="Site Logo">
        </div>
        <div id="cart-search">
            <div class="search">
                <div id="search-field">
                    <input type="text" placeholder="جستجو...">
                </div>
                <i class="fa fa-search"></i>
            </div>
            <div class="shopping">
                <i class="fa fa-shopping-cart" id="shopping-cart-btn"></i>
                <section id="shopping-cart-box">
                    <div class="shopping-cart-header">
                        مبلغ کل خرید:
                        <span id="shopping-cart-box-total-price" class="price">2,800,000</span>
                        <span class="toman">تومان</span>
                    </div>
                    <div class="shopping-cart-body" id="shopping-cart-box-body">

                    </div>
                    <div class="shopping-cart-footer">
                        <a href="{{ URL }}checkout/index">                        ثبت سفارش و ارسال
                        </a>
                    </div>
                </section>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</header>