<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Dashboard | {{ PageTitle }}</title>



    <link rel="stylesheet" href="{{ URL }}assets/admin/css/login.css">


</head>

<body>

<div class="login-page">
    <div class="message-box success-box" id="success-message-box" style="display: none;">
        <h4>موفقیت!</h4>
        <hr>
        <div class="messages">

        </div>
    </div>
    <div class="message-box error-box" id="error-message-box" style="display: none;">
        <h4>خطا!</h4>
        <hr>
        <div class="messages">

        </div>
    </div>
    <div class="form">
        <form class="login-form">
            <input type="text" id="username" placeholder="username"/>
            <input type="password" id="password" placeholder="password"/>
            <button id="login-submit-btn">login</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ URL }}assets/admin/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    {% autoescape false %}
    let url = "{{ CURRENT_URL }}";
    let successMessageBoxElement = $("#success-message-box");
    let errorMessageBoxElement = $("#error-message-box");
    $(document).ready(function () {
        $('#login-submit-btn').click(function (e) {
            let data = {};
            let messages = [];
            let error = false;
            let element = $("#username");

            successMessageBoxElement.find(".messages").html('');
            successMessageBoxElement.css("display", "none");

            errorMessageBoxElement.find(".messages").html('');
            errorMessageBoxElement.css("display", "none");

            if(element.val() != "") {
                data['username'] = element.val();
            }else {
                error = true;
                messages.push("{{ Translate['error_email_invalid'] }}");
            }
            element = $("#password");
            if(element.val() != "") {
                data['password'] = element.val();
            }else {
                error = true;
                messages.push("{{ Translate['error_password_invalid'] }}");
            }
            if(!error) {
                $.post(url, data, function (response) {
                    response = JSON.parse(response);
                    if(response.status === 1) {
                        for (let i = 0; i < response['messages'].length; i++) {
                            $('<p>').text(response['messages'][i]).appendTo(successMessageBoxElement.find('.messages'));
                        }
                        if(response['messages'].length > 0) {
                            successMessageBoxElement.css("display", "block");
                        }

                        if(response['redirect']) {
                            window.setTimeout(function () {
                                window.location.href = response['redirect'];
                            }, 1000)
                        }
                    }else {
                        for (let i = 0; i < response['messages'].length; i++) {
                            $('<p>').text(response['messages'][i]).appendTo(errorMessageBoxElement.find('.messages'));
                        }
                        if(response['messages'].length > 0) {
                            errorMessageBoxElement.css("display", "block");
                        }
                    }
                });
            }else {
                for (let i = 0; i < messages.length; i++) {
                    $('<p>').text(messages[i]).appendTo(errorMessageBoxElement.find('.messages'));
                }
                if(messages.length > 0) {
                    errorMessageBoxElement.css("display", "block");
                }
            }
            e.preventDefault();
        });

    });
    {% endautoescape %}

</script>




</body>

</html>
